{% extends 'base.html' %}
<style xmlns="http://www.w3.org/1999/html">
table {
  border-collapse: collapse;
  width: 100%;
}

th, td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}
</style>

{% block content %}
<div>
    <h3>Put The URL Web Address to Create Sitemap File:</h3>
    <form action="/createsitemap" method="post">
        URL : <input name="input_url" type="url">
        <input name="input_button" type="submit" value="Create Sitemap">
    <form>
</div>

<div>
 <table >
  <tr>
      <td><a href="{{download_url}}">{{download_text}}</a></td>
  </tr>
     <tr>
         <td>All URL Address List</td>
     </tr>
{% for url in l_urls %}
<tr><td><p><a href='{{ url }}'>{{ url }}</a></p></td></tr>
{% endfor %}
</table>
</div>
{% endblock %}
